page-login {
	ion-item {
		opacity: 0.7;
		border-radius: 5px;
	}

	ion-row {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.buttonLogin {
		margin-top: 40px;
	}

	.email {
		margin-bottom: 10px;
	}
}
