page-pembayaran {
	ion-item h2 {
		text-align: center;
	}
	ion-col div {
	    background-color: #F9FAFB;
	    padding: 5px;
	    border: 1px solid #ddd;
	    border-radius: 2px;
	    margin-bottom: 10px;
	}
	ion-col b {
		font-size: 10px;
	}

	ion-col img {
		width: 50px;
	}
}
